UNIT II: Data Analysis:
Lecture 1: Introduction to Data Understanding and Pre-processing
Lecture 2: Knowledge domains of Data Analysis,Understanding structured and unstructured data
Lecture 3: Data Analysis process, Dataset generation
Lecture 4: Importing Dataset: Importing and Exporting Data, Basic Insights from Datasets
Lecture 5: Cleaning and Preparing the Data: Identify and Handle Missing Values.

Lecture 4: Importing Dataset: Importing and Exporting Data, Basic Insights from Datasets

1. Getting/Importing the Dataset

In [1]:
import pandas as pd
data = pd.read_csv("C:/Users/Faculty-34/Desktop/googleplaystore.csv")
#print(data.isnull().sum())
print(data)

                                                     App             Category  \
0         Photo Editor & Candy Camera & Grid & ScrapBook       ART_AND_DESIGN
1                                    Coloring book moana       ART_AND_DESIGN
2      U Launcher Lite – FREE Live Cool Themes, Hide ...       ART_AND_DESIGN
3                                  Sketch - Draw & Paint       ART_AND_DESIGN
4                  Pixel Draw - Number Art Coloring Book       ART_AND_DESIGN
...                                                  ...                  ...
10836                                   Sya9a Maroc - FR               FAMILY
10837                   Fr. Mike Schmitz Audio Teachings               FAMILY
10838                             Parkinson Exercices FR              MEDICAL
10839                      The SCP Foundation DB fr nn5n  BOOKS_AND_REFERENCE
10840      iHoroscope - 2018 Daily Horoscope & Astrology            LIFESTYLE

       Rating Reviews                Size     Installs  Type Price  \
0         4.1     159                 19M      10,000+  Free     0
1         3.9     967                 14M     500,000+  Free     0
2         4.7   87510                8.7M   5,000,000+  Free     0
3         4.5  215644                 25M  50,000,000+  Free     0
4         4.3     967                2.8M     100,000+  Free     0
...       ...     ...                 ...          ...   ...   ...
10836     4.5      38                 53M       5,000+  Free     0
10837     5.0       4                3.6M         100+  Free     0
10838     NaN       3                9.5M       1,000+  Free     0
10839     4.5     114  Varies with device       1,000+  Free     0
10840     4.5  398307                 19M  10,000,000+  Free     0

      Content Rating                     Genres      Last Updated  \
0           Everyone               Art & Design   January 7, 2018
1           Everyone  Art & Design;Pretend Play  January 15, 2018
2           Everyone               Art & Design    August 1, 2018
3               Teen               Art & Design      June 8, 2018
4           Everyone    Art & Design;Creativity     June 20, 2018
...              ...                        ...               ...
10836       Everyone                  Education     July 25, 2017
10837       Everyone                  Education      July 6, 2018
10838       Everyone                    Medical  January 20, 2017
10839     Mature 17+          Books & Reference  January 19, 2015
10840       Everyone                  Lifestyle     July 25, 2018

              Current Ver         Android Ver
0                   1.0.0        4.0.3 and up
1                   2.0.0        4.0.3 and up
2                   1.2.4        4.0.3 and up
3      Varies with device          4.2 and up
4                     1.1          4.4 and up
...                   ...                 ...
10836                1.48          4.1 and up
10837                 1.0          4.1 and up
10838                 1.0          2.2 and up
10839  Varies with device  Varies with device
10840  Varies with device  Varies with device

[10841 rows x 13 columns]

2. Exporting the Dataset

When you are done with the data manipulation or generated prediction for some input data,
you will want to save the data as a file, so that, you can share it with others.
The most common format is a csv file or excel file.

The built in functions to_csv() and to_excel() of a pandas DataFrame can be used in 
order to export data as a csv or excel file.

df.to_csv(r'Path where you want to store the exported CSV file\File Name.csv')

The difference between CSV and XLS file formats is that CSV format is a plain text format
in which values are separated by commas (Comma Separated Values), while XLS file format
is an Excel Sheets binary file format which holds information about all the worksheets
in a file, including both content and formatting.

DataFrame is a 2-dimensional labeled data structure with columns of potentially
different types. You can think of it like a spreadsheet or SQL table, or a dict
of Series objects. It is generally the most commonly used pandas object.

In [2]:
# Creating a DataFrame
DataSample= [[10,'value1'], 
             [20,'value2'], 
             [30,'value3']]
SimpleDataFrame=pd.DataFrame(data=DataSample, columns=['Col1','Col2'])
#SimpleDataFrame=SimpleDataFrame.reset_index(drop=True)
print(SimpleDataFrame)
# Exporting data frame to a csv/Excel file
# Many other options are available which can be seen using dot tab option

# Exporting data as a csv file
SimpleDataFrame.to_csv("C:/Users/Faculty-34/Desktop/Export.csv")

# Exporting data as a excel file
SimpleDataFrame.to_excel("C:/Users/Faculty-34/Documents/Export2.xlsx")

   Col1    Col2
0    10  value1
1    20  value2
2    30  value3

Data preprocessing is a process of preparing the raw data and making it suitable for a machine learning model.
It is the first and crucial step while creating a machine learning model.
When creating a machine learning project, it is not always a case that we come across the clean and formatted data.
And while doing any operation with data, it is mandatory to clean it and put in a formatted way.
So for this, we use data preprocessing task.

Why do we need Data Preprocessing?
A real-world data generally contains noises, missing values, and maybe in an unusable format
which cannot be directly used for machine learning models.
Data preprocessing is required tasks for cleaning the data and making it suitable for a
machine learning model which also increases the accuracy and efficiency of a machine learning model.

In [3]:
Some Important Libraries:
Numpy
Matplotlib
Pandas

SyntaxError: invalid syntax (2870682692.py, line 1)

1. Numpy:
Numpy Python library is used for including any type of
mathematical operation in the code. It is the fundamental package
for scientific calculation in Python. It also supports to add large,
multidimensional arrays and matrices.
So, in Python, we can import it as:

In [ ]:
import numpy as np

2. Matplotlib:
The second library is matplotlib, which is a Python 2D plotting library,
and with this library, we need to import a sub-library pyplot. This library is
used to plot any type of charts in Python for the code.
It will be imported as below:

In [ ]:
import matplotlib.pyplot as mpt

3. Pandas:
The last library is the Pandas library, which is one of the most
famous Python libraries and used for importing and managing the datasets.
It is an open-source data manipulation and analysis library.
It will be imported as below:

In [ ]:
import pandas as pd

In [ ]:
Lecture 5: Cleaning and Preparing the Data: Identify and Handle Missing Values.

1. Cleaning the Dataset

Identifying and Handling Missing or Null Values

While making a Data Frame from a csv file, many blank columns are imported
as null value into the Data Frame which later creates problems while operating that data frame.

Pandas isnull() and notnull() methods are used to check and manage NULL values in a data frame.

DataFrame is a 2-dimensional labeled data structure with columns of
potentially different types. You can think of it like a spreadsheet
or SQL table, or a dict of Series objects. It is generally the most
commonly used pandas object.

Dataframe.isnull()

Syntax: Pandas.isnull(“DataFrame Name”) or DataFrame.isnull()
Parameters: Object to check null values for
Return Type: Dataframe of Boolean values which are True for NaN values 
 

If we add the sum function after the isnull() it will give us the total number
of data which are not present or null in our dataset.

In [ ]:
import pandas as pd
data = pd.read_csv("C:/Users/Faculty-34/Desktop/googleplaystore.csv")
print(data.isnull())

Use the any() method that returns True if there is at least one True in each row/column.
By default, it is applied to columns. If axis=1, it is applied to rows.

By calling any() from the result of isnull(), you can check if 
each row and column contains at least one missing value.

Extract rows that contain at least one missing value:

In [ ]:
import pandas as pd
data = pd.read_csv("C:/Users/Faculty-34/Desktop/googleplaystore.csv")
print(data.isnull().any(axis=1))

In [ ]:
import pandas as pd
data = pd.read_csv("C:/Users/Faculty-34/Desktop/googleplaystore.csv")
print(data[data.isnull().any(axis=1)])

In [ ]:
#Extract columns that contain at least one missing value:

import pandas as pd
data = pd.read_csv("C:/Users/Faculty-34/Desktop/googleplaystore.csv")
print(data.isnull().any())

In [ ]:
import pandas as pd
data = pd.read_csv("C:/Users/Faculty-34/Desktop/googleplaystore.csv")
print(data.loc[:, data.isnull().any()])

In [ ]:
import pandas as pd
data = pd.read_csv("C:/Users/Faculty-34/Desktop/googleplaystore.csv")
print(data.loc[:, data.isnull().any()])
print(data.to_string())

In [ ]:
import pandas as pd
data = pd.read_csv("C:/Users/Faculty-34/Desktop/googleplaystore.csv")
#number of missing values in each column
print(data.isnull().sum())
#percentage of missing values
data.isna().sum()/len(data)*100

So we can see that our columns are App, Category, Rating etc.
So the number which is being displayed after the column names
is basically the total number of null values that particular column is containing.


So we can delete all the rows which are present in our dataframe with the help
of dropna() function. Let us see the implementation of that now.

In [ ]:
df = data.dropna()
print(df.isnull().sum())

In [ ]:
So no more null values are present in any of the columns.

Basic Insights from the Dataset

We have already seen how we could remove the null values from our dataset.
Let us analyse the numeric data present with us and try to find out the inferences which we can get.
So let us see our dataset again before getting started.

In [ ]:
import pandas as pd
df=pd.read_csv("C:/Users/Faculty-34/Desktop/googleplaystore.csv")
df.head()

Let us do some analysis on the Rating column

In [ ]:
print(df['Rating'])

So the data type of the Rating is float64

In [ ]:
print(df['App'])

In [ ]:
Finding out the average rating

In [ ]:
s=0
for i in df['Rating']:
    s+=i
s=int(s)
a=s/len(df['Rating'])
print("The average Rating of the datas in our data set is : ",round(a,3))

How many apps are there with rating 5

In [ ]:
c=0
for i in df['Rating']:
    if (i==5.0):
        c+=1
print(f"There are {c} applications with rating 5")

Apps with Rating between the range of 4 and 4.5

In [ ]:
c=0
for i in df['Rating']:
    if (i>=4.0 and i<=4.5):
        c+=1
print(f"There are {c} applications with rating between the range of 4 and 4.5")

In [ ]:
We have already done some analysis on numerical data.
Let us work with Categorical data now. 
Before doing analysis let us see our dataset again.

In [ ]:
import pandas as pd
df=pd.read_csv('googleplaystore.csv')
df.head()

In [ ]:
Total Number of Unique Categories

In [ ]:
df['Category'].unique()

We can use the unique() function to get all the unique values of Category column

In [ ]:
To get the total number of Unique values we can use the nunique() function.

In [ ]:
n=df['Category'].nunique()
print("There are a total of ",n," unique values in Category columns")

In [ ]:
Total Number of apps in ART_AND_DESIGN

In [ ]:
c=0
for i in df['Category']:
    if(i=='ART_AND_DESIGN'):
        c+=1
print(f"There are a total of {c} applications in ART_AND_DESIGN")

In [ ]:
Total number of Free and Paid Apps

In [ ]:
f=0
p=0
for i in df['Type']:
    if(i=='Free'):
        f+=1
for i in df['Type']:
    if(i=='Paid'):
        p+=1
print(f"There are a total number of {f} free and {p} paid apps")

In [ ]:
Percentage of Free and Paid Apps

In [ ]:
ff=f/len(df['Type'])*100
ff=round(ff,2)
pp=100-ff
pp=round(pp,2)
print(f"A total of {ff}% of the apps are Free and {pp}% of the apps are paid")

In [ ]:
Data Analysis - Automatic Categorical

In [ ]:
Let us see now how we would automate our categorical data.
Firstly let us see our dataset and then we can start with the analysis.

In [ ]:
import pandas as pd
df=pd.read_csv('googleplaystore.csv')
df.head()

In [ ]:
Total number of apps in each category

In [ ]:
categories = {}

for name in df['Category'].unique():
    ct = 0
    for i in df['Category']:
        if(i == name):
            ct += 1
    categories[name] = ct
    
print(categories)

In [ ]:
So we now know now each and every category is containing how many apps in our dataset with the help of this analysis.

In [ ]:
Total number of apps in each Type

In [ ]:
types = {}

for name in df['Type'].unique():
    ct = 0
    for i in df['Type']:
        if(i == name):
            ct += 1
    types[name] = ct
    
print(types)

In [ ]:
So there are a total of 10039 Free apps and 800 Paid apps.

In [ ]:
Total number of apps in each Content Rating

In [ ]:
content_rating = {}

for name in df['Content Rating'].unique():
    ct = 0
    for i in df['Content Rating']:
        if(i == name):
            ct += 1
    content_rating[name] = ct
    
print(content_rating)

Null Values Handling - Numeric

Earlier we have discussed an approach to remove nulll values from a dataset.
But removing the null values is always not the most optical approach to work on a dataset.
Let us see here how we can handle the null values instead of dropping them.


Let us import pandas and read the csv file initially.

In [ ]:
import pandas as pd
df=pd.read_csv('Data.csv')
print(df)

In [ ]:
import pandas as pd
df=pd.read_csv('Data.csv')
print(df)
print(df.isnull().sum())

In [ ]:
import pandas as pd
df=pd.read_csv("C:/Users/Faculty-34/Desktop/Data.csv")
df = df.dropna()
print(df.isnull().sum())

In [ ]:
print(df)

In [ ]:
import pandas as pd
df=pd.read_csv("C:/Users/Faculty-34/Desktop/Data.csv")
print(df)
print(df.isnull().sum())

When dealing with missing values, different alternatives can be applied:

1. check the source, for example by contacting the data source to correct the missing values
2. drop missing values
3. replace the missing value with a value
4. leave the missing value as it is.

2. Drop missing values
Dropping missing values can be one of the following alternatives:
1. remove rows having missing values
2. remove the whole column containing missing values

We can use the dropna() by specifying the axis to be considered.

If we set axis = 0 we drop the entire row, if we set axis = 1 we drop the whole column.

If we apply the function df.dropna(axis=0) specific rows of the dataset remain.

If we apply the function df.dropna(axis=1), only the specific columns remain.

However, removed values are not applied to the original dataframe, but only to the result.
We can use the argument inplace=True in order to store changes in the original dataframe.

When inplace = True , the data is modified in place, which means it will
return nothing and the dataframe is now updated. When inplace = False , 
which is the default, then the operation is performed and it returns
a copy of the object.

The inplace parameter enables you to modify your dataframe directly. Remember: by default, the drop() method produces a new dataframe and leaves the original dataframe unchanged. That's because by default, the inplace parameter is set to inplace = False .

In [ ]:
import pandas as pd
df=pd.read_csv("C:/Users/Faculty-34/Desktop/Data.csv")
df.dropna(axis=1,inplace=True)
print(df)

In [4]:
import pandas as pd
df=pd.read_csv("C:/Users/Faculty-34/Desktop/Data.csv")
df.dropna(axis=1,inplace=False)
print(df)

   Country   Age   Salary Purchased
0   France  44.0  72000.0       Yes
1    Spain  27.0  48000.0       Yes
2      NaN  30.0  54000.0       NaN
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [5]:
df.dropna(axis=1)

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
As an alternative, we can specify only the column on which the dropping operation must be applied.
In the following example, only missing rows related to the column age are considered.
This can be achieved through the subset parameter, which permits to specify the subset
of columns where to apply the dropping operation.

In [13]:
import pandas as pd
df=pd.read_csv("C:/Users/Faculty-34/Desktop/Data.csv")
df.dropna(subset=['Age'],axis=0,inplace=False)
print(df)

   Country   Age   Salary Purchased
0   France  44.0  72000.0       Yes
1    Spain  27.0  48000.0       Yes
2      NaN  30.0  54000.0       NaN
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [14]:
df.isna().sum()/len(df)*100

Country      10.0
Age          10.0
Salary       10.0
Purchased    10.0
dtype: float64

Another alternative involves the dropping of columns where a certain percentage of
not-null values is available. This can be achieved through the thresh parameter.
In the following example we keep only columns where there are at least the 80% of not null values.

In [15]:
import pandas as pd
df=pd.read_csv("C:/Users/Faculty-34/Desktop/Data.csv")
#df.dropna(subset=['Age'],axis=0,inplace=True)
#print(df)
df.dropna(thresh=0.90*len(df),axis=1, inplace=False)
#print(df)

   Country   Age   Salary Purchased
0   France  44.0  72000.0       Yes
1    Spain  27.0  48000.0       Yes
2      NaN  30.0  54000.0       NaN
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

So we can see we dont have a big dataset and there are NaN or null values present in almost every column.
So now how would we handle them?

SimpleImputer is a scikit-learn class which is helpful in handling the missing data
in the predictive model dataset. It replaces the NaN values with a specified placeholder.


Scikit-learn is an open source data analysis library, and the gold standard
for Machine Learning (ML) in the Python ecosystem. Key concepts and features
include: Algorithmic decision-making methods, including: Classification:
identifying and categorizing data based on patterns.


It is implemented by the use of the SimpleImputer() method which takes the following arguments :
    
missing_values : The missing_values placeholder which has to be imputed. By default is NaN

strategy : The data which will replace the NaN values from the dataset
The strategy argument can take the values – ‘mean'(default), ‘median’, ‘most_frequent’ and ‘constant’.

fill_value : The constant value to be given to the NaN data using the constant strategy.

The SimpleImputer class provides basic strategies for imputing missing values.
Missing values can be imputed with a provided constant value, or using the
statistics (mean, median or most frequent) of each column in which the missing
values are located. This class also allows for different missing values encodings.

3. Replace missing values
A good strategy when dealing with missing values involves their replacement with another value.
Usually, the following strategies are adopted:
1. For numerical values replace the missing value with the average value of the column
2. For categorial values replace the missing value with the most frequent value of the column
3. Use other functions
In order to replace missing values, three functions can be used: fillna(), replace() and interpolate().
1. The fillna() function replaces all the NaN values with the value passed as argument. For example, for numerical values, all the NaN values in the numeric columns could be replaced with the average value.

In order to list the type of a column, we can use the attribute dtypes as follows:

In [17]:
df.dtypes

Country       object
Age          float64
Salary       float64
Purchased     object
dtype: object

In [67]:
print(df)
df.describe()

   Country   Age   Salary Purchased
0      Aus  44.0  72000.0       Yes
1      Aus  27.0  48000.0       Yes
2      NaN  30.0  54000.0       NaN
3      Aus  38.0  61000.0        No
4      Aus  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6   France   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

             Age        Salary
count   9.000000      9.000000
mean   38.777778  63777.777778
std     7.693793  12265.579662
min    27.000000  48000.000000
25%    35.000000  54000.000000
50%    38.000000  61000.000000
75%    44.000000  72000.000000
max    50.000000  83000.000000

Numeric columns
Firstly, we select numeric columns:

In [33]:
import numpy as np
numeric = df.select_dtypes(include=np.number)
numeric_columns = numeric.columns

Then, we fill the NaN values of numeric columns with the average value, given by the df.mean() function.

In [34]:
df[numeric_columns] = df[numeric_columns].fillna(df.mean())

C:\Users\Faculty-34\AppData\Local\Temp\ipykernel_34808\3464485706.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df[numeric_columns] = df[numeric_columns].fillna(df.mean())

In [ ]:
Now, we can check whether the NaN values in numeric columns have been removed.

In [35]:
df.isna().sum()/len(df)*100

Country      10.0
Age           0.0
Salary        0.0
Purchased    10.0
dtype: float64

In [36]:
print(df)

   Country        Age        Salary Purchased
0   France  44.000000  72000.000000       Yes
1    Spain  27.000000  48000.000000       Yes
2      NaN  30.000000  54000.000000       NaN
3    Spain  38.000000  61000.000000        No
4  Germany  40.000000  63777.777778       Yes
5   France  35.000000  58000.000000       Yes
6    Spain  38.777778  52000.000000        No
7   France  48.000000  79000.000000       Yes
8  Germany  50.000000  83000.000000        No
9   France  37.000000  67000.000000       Yes

Categorial columns:
We note that in dtypes the categorial columns are described as objects.
Thus we can select the object columns. We would like to consider only boolean columns.
However the object type includes also the column class, which is a string.
We select all the object columns, and then we remove from them the column class.
Then we can convert the type of the result to bool.

In [57]:
import pandas as pd
import numpy as np
df=pd.read_csv("C:/Users/Faculty-34/Desktop/Data.csv")
boolean_columns = df.select_dtypes(include=np.object).columns.tolist()
df[boolean_columns]=df[boolean_columns].fillna(df.mode().iloc[0])
#result = df.fillna(df.mode().iloc[0])
print(df[boolean_columns])

   Country Purchased
0      Aus       Yes
1      Aus       Yes
2      Aus       Yes
3      Aus        No
4      Aus       Yes
5   France       Yes
6   France        No
7   France       Yes
8  Germany        No
9   France       Yes

C:\Users\Faculty-34\AppData\Local\Temp\ipykernel_34808\1465001960.py:4: DeprecationWarning: `np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  boolean_columns = df.select_dtypes(include=np.object).columns.tolist()

Now we can replace all the missing values for booleans with the most frequent value.
We can use the mode() function to calculate the most frequent value.
We use the fillna() function to replace missing values, but we could use also the
replace(old_value,new_value) function.

Now our dataset does not contain any missing value.

In [58]:
df.isna().sum()/len(df)*100

Country       0.0
Age          10.0
Salary       10.0
Purchased     0.0
dtype: float64

In [59]:
print(df)

   Country   Age   Salary Purchased
0      Aus  44.0  72000.0       Yes
1      Aus  27.0  48000.0       Yes
2      Aus  30.0  54000.0       Yes
3      Aus  38.0  61000.0        No
4      Aus  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6   France   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

3. Interpolation
Another solution to replace missing values involves the usage of other functions,
such as linear interpolation. In this case, for example, we could replace a missing
value over a column, with the interpolation between the previous and the next ones.
This can be achieved through the use of the interpolate() function.

Since we have already managed all the missing values, we reload the dataset.

In [60]:
import pandas as pd
df=pd.read_csv("C:/Users/Faculty-34/Desktop/Data.csv")
#df.dropna(subset=['Age'],axis=0,inplace=True)
#print(df)
#df.isna().sum()/len(df)*100
#We select only numeric columns.
numeric = df.select_dtypes(include=np.number)
numeric_columns = numeric.columns
df.head(10)

   Country   Age   Salary Purchased
0      Aus  44.0  72000.0       Yes
1      Aus  27.0  48000.0       Yes
2      NaN  30.0  54000.0       NaN
3      Aus  38.0  61000.0        No
4      Aus  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6   France   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

Now we can apply the interpolate() function to numeric columns, by setting also the
limit direction to forward. This means that the linear interpolation is applied starting
from the first row until the last one.

In [61]:
df[numeric_columns]=df[numeric_columns].interpolate(method ='linear', limit_direction ='forward')

For example, in line 6 in the column age, which was NaN before the interpolation,
now assumes the value 41.5, which is the interpolation between 35.0 (line 5) and 48.5 (line 6).

In [62]:
df.head(10)

   Country   Age   Salary Purchased
0      Aus  44.0  72000.0       Yes
1      Aus  27.0  48000.0       Yes
2      NaN  30.0  54000.0       NaN
3      Aus  38.0  61000.0        No
4      Aus  40.0  59500.0       Yes
5   France  35.0  58000.0       Yes
6   France  41.5  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

# Summary
We have seen one of the aspects of data preprocessing, which is dealing with missing data.
Missing data can alter the data analysis process, thus they must be managed.
Three strategies can be used to deal with missing data:
1. drop missing data: this can be done when the dataset has a small number of missing data
2. replace missing data with other values, such as the mean or the most frequent value
3. leave missing data as they are.

In [63]:
import pandas as pd
import numpy as np
df=pd.read_csv("C:/Users/Faculty-34/Desktop/Data.csv")
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values = np.nan, strategy = 'most_frequent')
df.iloc[:,1:3]=imputer.fit_transform(df.iloc[:,1:3].values)
#df=imputer.fit_transform(df.values)
print(df)

   Country   Age   Salary Purchased
0      Aus  44.0  72000.0       Yes
1      Aus  27.0  48000.0       Yes
2      NaN  30.0  54000.0       NaN
3      Aus  38.0  61000.0        No
4      Aus  40.0  48000.0       Yes
5   France  35.0  58000.0       Yes
6   France  27.0  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

C:\Users\Faculty-34\anaconda3\lib\site-packages\sklearn\impute\_base.py:49: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode = stats.mode(array)

In [64]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer
df=pd.read_csv("C:/Users/Faculty-34/Desktop/Data.csv")
imputer = SimpleImputer(missing_values = np.nan, strategy = 'most_frequent')
#df.iloc[:,1:3]=imputer.fit_transform(df.iloc[:,1:3].values)
df=imputer.fit_transform(df.values)
print(df)
#print(df.isnull().sum())

[['Aus' 44.0 72000.0 'Yes']
 ['Aus' 27.0 48000.0 'Yes']
 ['Aus' 30.0 54000.0 'Yes']
 ['Aus' 38.0 61000.0 'No']
 ['Aus' 40.0 48000.0 'Yes']
 ['France' 35.0 58000.0 'Yes']
 ['France' 27.0 52000.0 'No']
 ['France' 48.0 79000.0 'Yes']
 ['Germany' 50.0 83000.0 'No']
 ['France' 37.0 67000.0 'Yes']]

In [ ]:
Null Values Handling - Categorical
We have already seen how we can handle the numerical data with the help of scikit-learn.
In the case of Categorical Data things are a little different because we can't use mean,
median. So we basically need to choose the most frequent(mode) for filling up the null
values in the case of Categorical data.

Let us import pandas and read the csv file initially.

In [65]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer

df=pd.read_csv("C:/Users/Faculty-34/Desktop/Data.csv")
print(df)

   Country   Age   Salary Purchased
0      Aus  44.0  72000.0       Yes
1      Aus  27.0  48000.0       Yes
2      NaN  30.0  54000.0       NaN
3      Aus  38.0  61000.0        No
4      Aus  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6   France   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

So this instead of using iloc and selecting only the numeric columns we will be selecting all the columns.
We will be using most frequent as the strategy parameter because we cannot use mean and median for categorical datas.

In [51]:
imputer = SimpleImputer(missing_values = np.nan, strategy = 'most_frequent')
df.iloc[:,:]=imputer.fit_transform(df.iloc[:,:].values)

Now if we print the DataFrame(df) we will notice that the null values of the categorical
column as well as the numeric column has been removed.

In [52]:
print(df)

   Country   Age   Salary Purchased
0   France  44.0  72000.0       Yes
1    Spain  27.0  48000.0       Yes
2   France  30.0  54000.0       Yes
3    Spain  38.0  61000.0        No
4  Germany  40.0  48000.0       Yes
5   France  35.0  58000.0       Yes
6    Spain  27.0  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

To confirm it we can use the isnull().sum() function.

In [54]:
print(df.isnull().sum())

Country      0
Age          0
Salary       0
Purchased    0
dtype: int64

So we have removed all the null values and replaced them with the most frequent value of that particular column.

Null Values Handling on GooglePlaystore Dataset

Now we have already seen how we can handle null values for both Numeric and Categorical Data.
Let use use those techniques and handle the null values for our GooglePlaystore Dataset.

So let us see our dataset again before getting started.

In [ ]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer

df=pd.read_csv("googleplaystore.csv")
print(df.head())

Let us use the isnull().sum() function to check the number of null data in every column.

In [ ]:
print(df.isnull().sum())

So we have a huge number of data which is null in the Rating column.
We can drop the rows which are null but that would not be optimal because
the number of data. is very much. So we are going to use the SimpleImputer
and replace the null values with the mean of the Rating column.

Let's get started with the coding implementation now.

In [ ]:
impute = SimpleImputer(missing_values = np.nan , strategy = 'mean')
df.iloc[ : , 2:3 ] =impute.fit_transform(df.iloc[ : , 2:3 ].values)

So we have replaced the null values with the mean value for the Rating column
and there is no loss of data as well. Let us use the isnull().sum() function
to again check our null values.

In [ ]:
print(df.isnull().sum())

So now we have some more null values present in the other columns.
So we can see they are very less as compared to the size of the dataset
( less than 1%) so we can just remove those null values.

In [ ]:
df=df.dropna()
print(df.isnull().sum())

So we have removed the rest of the null values and we have no null values present in our dataset anymore.

Data Analysis with Multiple Columns

In [ ]:
import numpy as np
import pandas as pd

from sklearn.impute import SimpleImputer

In [ ]:
df = pd.read_csv("C:/Users/Faculty-34/Desktop/googleplaystore.csv")

impute = SimpleImputer(missing_values = np.nan , strategy = 'mean')
impute.fit(df.iloc[ : , 2:3 ].values)
df.iloc[ : , 2:3 ] = impute.transform(df.iloc[ : , 2:3 ].values)

df = df.dropna()
print(df)
df.head()
print(df.isnull().sum())

In [ ]:
#Q1. How many free apps are there in ART_AND_DESIGN?

df = df.values
c = 0

for i in df:
    if(i[1] == 'ART_AND_DESIGN' and i[6] == 'Free'):
        c += 1
        
print("There are",c,'free apps from ART_AND_DESIGN')

In [ ]:
#Q2. How many apps are there in ART_AND_DESIGN with rating more then 4.5?
c = 0

for i in df:
    if(i[1] == 'ART_AND_DESIGN' and i[2] > 4.5):
        c += 1
        
print("There are",c,'apps from ART_AND_DESIGN with rating more than 4.5')

In [ ]:
#Q3. How many apps are there in FAMILY with rating more then 4.5 and Free?
c = 0

for i in df:
    if(i[1] == 'ART_AND_DESIGN' and i[2] > 4.5 and i[6] == 'Free'):
        c += 1
        
print("There are",c,'free apps from ART_AND_DESIGN with rating more than 4.5')

In [ ]:
#Q4. List all the free apps with rating more then 4.5 and category is FAMILY?
print("*"*100)
print("        These are the free apps where Category is FAMILY with rating more than 4.5.     ")
print("*"*100)

for i in df:
    if(i[1] == 'ART_AND_DESIGN' and i[2] > 4.5 and i[6] == 'Free'):
        print(i[0])
print("-"*100)

Data Analysis using conditions

In [ ]:
import numpy as np
import pandas as pd

from sklearn.impute import SimpleImputer

In [ ]:
df = pd.read_csv("C:/Users/Faculty-34/Desktop/googleplaystore.csv")

impute = SimpleImputer(missing_values = np.nan , strategy = 'mean')
impute.fit(df.iloc[ : , 2:3 ].values)
df.iloc[ : , 2:3 ] = impute.transform(df.iloc[ : , 2:3 ].values)

df = df.dropna()
df.head()

In [ ]:
#Q1. How many free apps are there in ART_AND_DESIGN?
df_pr = df[df['Category'] == 'ART_AND_DESIGN']
print(len(df_pr[df_pr['Type'] == 'Free']))

In [ ]:
#Q2. How many apps are there in ART_AND_DESIGN with rating more then 4.5?
df_pr = df[df['Category'] == 'ART_AND_DESIGN']
print(len(df_pr[df_pr['Rating'] > 4.5]))

In [ ]:
#Q3. How many apps are there in FAMILY with rating more then 4.5 and Free?
df_pr = df[df['Category'] == 'FAMILY']
df_pr = df_pr[df_pr['Rating'] > 4.5]
len(df_pr[df_pr['Type'] == 'Free'])

In [ ]:
#Q4. List all the free apps with rating more then 4.5 and category is FAMILY?
df_pr = df[df['Category'] == 'FAMILY']
df_pr = df_pr[df_pr['Rating'] > 4.5]
df_pr[df_pr['Type'] == 'Free']

Group by in Pandas:
Pandas dataframe.groupby() function is used to split the data into groups based on some criteria.
Pandas objects can be split on any of their axes.
The abstract definition of grouping is to provide a mapping of labels to group names.

Syntax:
DataFrame.groupby(by=None, axis=0, level=None, as_index=True, sort=True, group_keys=True, squeeze=False, **kwargs)

Parameters :
    
by : mapping, function, str, or iterable
    
axis : int, default 0
    
level : If the axis is a MultiIndex (hierarchical), group by a particular level or levels
    
as_index : For aggregated output, return object with group labels as the index.
Only relevant for DataFrame input. as_index=False is effectively “SQL-style” grouped output

sort : Sort group keys. Get better performance by turning this off. Note this does not
influence the order of observations within each group. groupby preserves the order of rows within each group.

group_keys : When calling apply, add group keys to index to identify pieces
    
squeeze : Reduce the dimensionality of the return type if possible, otherwise return a consistent type

Returns : GroupBy object

**kwargs allows us to pass a variable number of keyword arguments to a Python function. In the function, we use the double-asterisk ( ** ) before the parameter name to denote this type of argument.

In [ ]:
import numpy as np
import pandas as pd

from sklearn.impute import SimpleImputer

In [ ]:
df = pd.read_csv("C:/Users/Faculty-34/Desktop/googleplaystore.csv")
impute = SimpleImputer(missing_values = np.nan , strategy = 'mean')
impute.fit(df.iloc[ : , 2:3 ].values)
df.iloc[ : , 2:3 ] = impute.transform(df.iloc[ : , 2:3 ].values)
df = df.dropna()
df.head()

In [ ]:
#Q1. Name the apps that are in ART_AND_DESIGN with rating more then 4.5 in descending order WRT Ratings?
df_pr = df[df['Category'] == 'ART_AND_DESIGN']
df_pr = df_pr[df_pr['Rating'] > 4.5]

df_pr.sort_values( by = 'Rating', ascending = True ).head()

In [ ]:
#Q2. Which category is having maximum average rating Descending order?
df.groupby('Category').mean()['Rating'].sort_values(ascending = False)

In [ ]:
#Q3. How many paid apps are there in each category in Descending Order?
df_pr = df[df['Type'] == 'Paid']

df_pr.groupby('Category').count()['Type'].sort_values(ascending = False)